@import "variables";
/* HEADER Y NAVBAR */

.name {
  font-size: 25px;
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c,
    0 0 200px #ff003c, 0 0 300px #ff003c;
  -webkit-animation: blink 1s infinite alternate;
  animation: blink 1s infinite alternate;
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

.btn-outline-secondary {
  --bs-btn-border-color: none;
}

.navList {
  .nav-item {
    button {
      color: $col-white;
      border-radius: 0;
      animation: infinite resplandorAnimation 1s;
    }

    button:hover {
      background-color: $col-pink;
    }
  }
}
.navbar {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  margin: 0 auto; /* Esto centra el elemento horizontalmente */
  .container-fluid {
    color: $col-darkblue;
  }
}
.navbar-toggler {
  border: none;
  border-radius: 0;
}
.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  background-image: url(../img/hamburguesa2.png);
}
.bg-body-tertiary {
  background-color: $col-darkblue !important;
}

@keyframes resplandorAnimation {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
