/* Proyects */

.proyects {
  padding-top: 60px;
  background-color: $col-black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/perrociber3.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 15px;
  }
}

.card {
  max-width: 0 auto;
  border-radius: 0;
  border: 2px solid $col-white;
  box-shadow: 0 0 10px $col-white;
  img {
    border-radius: 0;
  }
}

.card-body {
  @include topConfig(5px, 0 1px, auto, 0);
}

.wp {
  color: $col-blue;
}

.js {
  color: $col-yellow;
  text-shadow: 0 0 7px $col-pink, 0 0 10px $col-pink, 0 0 21px $col-pink,
    0 0 42px rgb(0, 4, 255), 0 0 82px rgb(0, 4, 255), 0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255), 0 0 151px rgb(0, 4, 255);
}

.react {
  color: $col-lightblue;
  text-shadow: 0 0 7px $col-blue, 0 0 10px $col-blue, 0 0 21px $col-blue,
    0 0 42px rgb(0, 4, 255), 0 0 82px rgb(0, 4, 255), 0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255), 0 0 151px rgb(0, 4, 255);
}
