@import "header-nav";
@import "footer";
@import "media";

@import "variables";
@import "mixin";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: $col-black;
}

li {
  list-style-type: none;
}

/* BODY */

.home {
  @include topConfig(15%, 50px, 0, 85vh);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/neon2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  color: $col-white;
}

.text-top {
  margin-top: 10%;
  color: $col-black;
  text-shadow: 0 0 7px $col-white, 0 0 10px $col-white, 0 0 21px $col-white,
    0 0 42px rgb(0, 4, 255), 0 0 82px rgb(0, 4, 255), 0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255), 0 0 151px rgb(0, 4, 255);
}

/* Index */
.deploy {
  h2 {
    color: $col-black;
    font-size: 70px;
    letter-spacing: 5px;
    animation: move linear 2000ms infinite;
  }
  .logo {
    p {
      color: $col-white;
    }
  }
}

/* About */

.aboutContainer {
  @include basicConfig;
  background-color: $col-black;
  color: $col-white;
}

.about {
  h1 {
    font-size: 50px;
    color: $col-white;
  }
}

.pictureHero {
  margin-top: -100px;
  height: 500px;
  margin-bottom: -70px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 80%,
    0% 80%
  ); /* Recorta un 20% de la parte inferior de la imagen */
  z-index: -1;
}

/* Proyects */

.proyects {
  padding-top: 60px;
  background-color: $col-black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/perrociber3.png);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
h1{
  font-size: 70px;
}
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 15px;
  }
}

.card {
  max-width: 0 auto;
  border-radius: 0;
  border: 2px solid $col-white;
  box-shadow: 0 0 10px $col-white;
  img {
    border-radius: 0;
  }
}

.card-body {
  @include topConfig(5px, 0 1px, auto, 0);
}

.wp {
  color: $col-blue;
}

.js {
  color: $col-yellow;
  text-shadow: 0 0 7px $col-pink, 0 0 10px $col-pink, 0 0 21px $col-pink,
    0 0 42px rgb(0, 4, 255), 0 0 82px rgb(0, 4, 255), 0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255), 0 0 151px rgb(0, 4, 255);
}

.react {
  color: $col-lightblue;
  text-shadow: 0 0 7px $col-blue, 0 0 10px $col-blue, 0 0 21px $col-blue,
    0 0 42px rgb(0, 4, 255), 0 0 82px rgb(0, 4, 255), 0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255), 0 0 151px rgb(0, 4, 255);
}

/* curriculum */
.cvContainer {
  @include basicConfig;
  color: $col-white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/perrociber.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  h1 {
    color: $col-white;
  }
  h2{
    font-size: 20px;
  }
}

.cvimg {
  transform: scaleX(-1); /* Invertir verticalmente */
}

/* contact */

.contactMe {
  @include topConfig(0, 0, 0, 85vh);
  @include basicConfig;
  color: $col-white;
  background-image: url(../img/black.jpg);
  h1 {
    color: $col-black;
    font-size: 50px;
    letter-spacing: 5px;
    animation: move linear 2000ms infinite;
    text-align: center;
  }

  .btn-submit {
    cursor: pointer;
    background-color: $col-lightblue;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $col-pink;
    }
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}
