@import "header-nav";
@import "footer";
@import "media";

@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: $col-black;
}

li {
  list-style-type: none;
}

/* BODY */

.home {
  padding-top: 15%;
  min-height: 85vh;
  background-image: url(../img/neon2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.description {
  color: $col-white;
}

.text-top {
  color: $col-black;
  margin-top: 10%;
  text-shadow: 0 0 7px $col-white, 0 0 10px $col-white, 0 0 21px $col-white,
    0 0 42px rgb(0, 4, 255), 0 0 82px rgb(0, 4, 255), 0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255), 0 0 151px rgb(0, 4, 255);
}

/* Index */
.deploy {
  h2 {
    color: $col-black;
    font-size: 70px;
    letter-spacing: 5px;
    animation: move linear 2000ms infinite;
  }
  .logo {
    p {
      color: $col-white;
    }
  }
}

/* About */

.aboutContainer {
  background-color: $col-black;
  color: $col-white;
  /* para que el header no tape el body */
  padding-top: 10%;
  height: auto;
  padding-bottom: 40px;
}

.about {
  h1 {
    font-size: 50px;
    color: $col-white;
  }
}

.pictureHero {
  height: 500px;
  margin-top: -100px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 80%,
    0% 80%
  ); /* Recorta un 20% de la parte inferior de la imagen */
  z-index: -1;
  margin-bottom: -70px;
}

/* Proyects */

.proyects {
  padding-top: 60px;
  background-color: $col-black;
  h1 {
    font-size: 50px;
    color: $col-darkblue;
  }
  p {
    font-size: 15px;
  }
}

.subtitle {
  h2 {
    font-size: 30px;
  }
}

.card {
  max-width: 0 auto;
  border-radius: 0;
  border: 2px solid $col-white;
  box-shadow: 0 0 10px $col-white;
  img {
    border-radius: 0;
  }
}

.card-body {
  padding-top: 5px;
  padding-bottom: 0 1px;
  height: auto;
}

.wp {
  color: #322566;
}

.js {
  color: #e1ffb4;
}

/* curriculum */
.cvContainer {
  background-color: black;
  color: $col-white;
  /* para que el header no tape el body */
  padding-top: 10%;
  height: auto;
  padding-bottom: 40px;
}

.cvimg {
  transform: scaleX(-1); /* Invertir verticalmente */
}

/* contact */
.contactMe {
  /* para que el header no tape el body */
  padding-top: 10%;
  min-height: 85vh;
  background-color: $col-black;
  color: $col-white;
  height: auto;
  padding-bottom: 40px;

  .btn-submit {
    cursor: pointer;
    background-color: $col-lightblue;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $col-pink;
    }
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}
