<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Despues el CSS del proyecto -->
    <link rel="stylesheet" href="../styles/styles.css">
    <meta name="description" content="Portfolio Alvaro Sopeña Figueroa - Web Developer - HTML | CSS | SCSS | Bootstrap | JavaScript | React | NodeJS | Express | ... " >
    <title>Proyecto Final CoderHouse</title>
</head>


<body class="cointainer-fluid">
    <!-- NavBar -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand name" href="#">@alvarosopena</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto navList">
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='../index.html'"
                                type="button">
                                Home</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='aboutme.html'"
                                type="button">
                                About me</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='proyectos.html'"
                                type="button">
                                Proyects</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='curriculum.html'"
                                type="button">
                                Download my CV</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='contacto.html'"
                                type="button">
                                Contact</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <main>
        <div class="aboutContainer">
            <div class="container">
                <div class="row mt-2">
                    <!-- Columna para el encabezado -->
                    <div class="text-top about col-md-6 text-center mb-1 aling-items-end about">
                        <h1>About me</h1>
                    </div>
                    <!-- Columna para la imagen -->
                    <div class="col-md-6 text-center">
                        <img class="pictureHero img-fluid" src="../img/alvaro2.png" alt="">
                    </div>
                    <!-- Columna para el texto -->
                    <div class="col-12">
                        <p class="lh-sm fs-4 text-justify">Soy de Mendoza, Argentina, tengo 31 años, hace 2 años hice el
                            curso de Desarrollo Web Full Stack en Digital House con una duración de 8 meses, maquetado
                            web, HTML, CSS, JS, Nodejs, Express y MySql, utilizando Metodologías Ágiles (SCRUM). Ahora
                            estoy comenzando el curso de Desarrollo Frontend con React en Coderhouse, con una duración
                            de 6 meses, finaliza en enero de 2024. Y el curso fullstack con NodeJS en Codo a Codo 4.0
                            que también finaliza en enero de 2024. He hecho algunos cursos en Udemy también pero al ser
                            solo on demand lo cuento como herramientas. También soy freelancer en proyectos con
                            WordPress en Agencia Waiu, de Mendoza. Estoy recibido de Tec. Sup. En Comercio Internacional
                            y Aduana.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="py-3 my-4">
        <div class="justify-content-center ">
            <div class="social-buttons">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li><a href="https://www.linkedin.com/in/alvaro-sopena-figueroa/" class="fa fa-linkedin"
                            target="_blank"></a></li>
                    <li><a href="https://instagram.com/alvarosopena" class="fa fa-instagram" target="_blank"></a></li>
                    <li><a href="https://mailto:alvarosopenaf@gmail.com" class="fa fa-envelope" target="_blank"></a>
                    </li>
                    <li><a href=" https://wa.me/+5492614668479" class="fa fa-whatsapp" target="_blank"></a></li>
                </ul>
            </div>
            <p> Made with love @ Alvaro Sopeña Figueroa </p>
        </div>
    </footer>

</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

</html>