<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="../img/alvaro.png" />
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/d58f339f3f.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Despues el CSS del proyecto -->
    <link rel="stylesheet" href="../styles/styles.css">
    <meta name="description"
        content="Proyects | Portfolio Alvaro Sopeña Figueroa - Web Developer - HTML | CSS | SCSS | Bootstrap | JavaScript | React | NodeJS | Express | ... ">
    <title>Proyects</title>
</head>


<body class="cointainer-fluid">
    <!-- NavBar -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand name" href="../index.html">@alvarosopena</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto navList">
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='../index.html'"
                                type="button">
                                Home</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='aboutme.html'"
                                type="button">
                                About me</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary active"
                                onclick="location.href='proyectos.html'" type="button">
                                Proyects</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='curriculum.html'"
                                type="button">
                                Download my CV</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href='contacto.html'"
                                type="button">
                                Contact</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="proyects">
            <div class="container text-center text-top">
                <h1>Proyects</h1>
            </div>
            <div class="container text-top subtitle wp">
                <h2>WordPress</h2>
            </div>
            <div class="container row drow mx-auto text-center mt-3">
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="https://www.optime-translation.com/" class="card-text" target="_blank">
                            <img src="../img/optime.png" class="card-img-top img-fluid" alt="Optime logo">
                            <div class="card-body">
                                <h3 class="card-title">Optime Translation</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="https://centauroarg.com.ar/" class="card-text" target="_blank">
                            <img src="../img/centauro.jpg" class="card-img-top img-fluid  pb-4" alt="Centauro logo">
                            <div class="card-body">
                                <h3 class="card-title pt-1">Centauro Argentina</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="https://cardinalconsultora.com/" class="card-text" target="_blank">
                            <img src="../img/cardinal.png" class="card-img-top img-fluid"
                                alt="Cardinal Consultora logo">
                            <div class="card-body">
                                <h3 class="card-title">Cardinal RRHH </h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div class="container text-top mt-3 subtitle js">
                <h2>CSS|SCSS, Bootstrap, JavaScript</h2>
            </div>
            <div class="container row drow mx-auto text-center mt-3">
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/neon.png" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/neon.png" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/neon.png" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/neon.png" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container text-top mt-3 subtitle react">
                <h2>& React</h2>
            </div>
            <div class="container row drow mx-auto text-center mt-3">
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/analitic.jpg" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS | REACT </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/analitic.jpg" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS | REACT </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/analitic.jpg" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS | REACT </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <a href="#" class="card-text" target="_blank">
                            <img src="../img/analitic.jpg" class="card-img-top img-fluid" alt="Tarjeta Proyecto 'xxx'">
                            <div class="card-body">
                                <h3 class="card-title">Vacio</h3>
                                <p class="card-text">CSS|SCSS | Bootstrap | JS | REACT </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer class="py-3">
        <div class="justify-content-center text-center">
            <div class="social-buttons">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li><a href="https://www.linkedin.com/in/alvaro-sopena-figueroa/" class="fa fa-linkedin"
                            target="_blank"></a></li>
                    <li><a href="https://instagram.com/alvarosopena" class="fa fa-instagram" target="_blank"></a></li>
                    <li><a href="mailto:alvarosopenaf@gmail.com" class="fa fa-envelope" target="_blank"></a></li>
                    <li><a href="https://wa.me/+5492614668479" class="fa fa-whatsapp" target="_blank"></a></li>

                </ul>
            </div>
            <p>Made with love @ Alvaro Sopeña Figueroa</p>
        </div>
    </footer>
</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

</html>